#top-bar {
    background: whitesmoke;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

.header {
    background: yellow;
}

button {
    margin: 10px, 30px, 10px, 20px;
    width: 150px;
    background: rebeccapurple!important;
    border-color: rebeccapurple!important;
}

button:hover {
    background-color: mediumpurple!important;
}

#timer {
    margin: 10px;
    height: 100px;
    float: right;
}

#caption {
    margin-top: 10px;
}
