body {
    width: auto;
}

#top-bar {
    background: whitesmoke;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

#header {
    width: auto;
}

.score-list {
    margin: 0;
    padding: 5px;
}

button {
    margin: 10px, 30px, 10px, 20px;
    width: 200px;
    background: rebeccapurple!important;
    border-color: rebeccapurple!important;
}

button:hover {
    background-color: mediumpurple!important;
}

#timer {
    margin: 10px;
    height: 20px;
    float: right;
}

#score-page {
    margin: 10px;
    height: 20px;
    color: rebeccapurple;
    float: left;
}

#score-page:hover {
    color: mediumpurple;
}

#caption {
    margin-top: 10px;
}

.hide {
    opacity: 0%;
}
